@page "/components/button"
@using MudBlazor

<DemoPageLayout Title="Button"
                Description="Represents a button for actions, links, and commands."
                Variant="DemoPageLayoutVariant.Vertical">
    <Preview>
        <MudStack Spacing="2" AlignItems="AlignItems.Center" Class="w-100">
            <div class="d-flex justify-center w-100">
                @if (_type == ButtonDemoType.Loading)
                {
                    <MudButton Color="@_color"
                               Variant="@_variant"
                               Size="@_size"
                               FullWidth="@_fullWidth"
                               Disabled="true"
                               DropShadow="@_dropShadow"
                               Ripple="@_ripple"
                               StartIcon="@SelectedStartIcon"
                               EndIcon="@SelectedEndIcon">
                        <MudProgressCircular Class="me-2" Size="Size.Small" Indeterminate="true" />
                        @_loadingLabel
                    </MudButton>
                }
                else if (_type == ButtonDemoType.Link)
                {
                    <MudButton Color="@_color"
                               Variant="@_variant"
                               Size="@_size"
                               FullWidth="@_fullWidth"
                               Disabled="@_disabled"
                               DropShadow="@_dropShadow"
                               Ripple="@_ripple"
                               StartIcon="@SelectedStartIcon"
                               EndIcon="@SelectedEndIcon"
                               Href="@_href"
                               Target="@( _openInNewTab ? "_blank" : null )"
                               OnClick="OnButtonClick">
                        @_label
                    </MudButton>
                }
                else
                {
                    <MudButton Color="@_color"
                               Variant="@_variant"
                               Size="@_size"
                               FullWidth="@_fullWidth"
                               Disabled="@_disabled"
                               DropShadow="@_dropShadow"
                               Ripple="@_ripple"
                               StartIcon="@SelectedStartIcon"
                               EndIcon="@SelectedEndIcon"
                               OnClick="OnButtonClick">
                        @_label
                    </MudButton>
                }
            </div>

            <MudText Typo="Typo.caption">
                Clicked: @_clickedCount
            </MudText>
        </MudStack>
    </Preview>

    <Options>
        <MudGrid Spacing="4" Justify="Justify.Center" Class="w-100">
            <MudItem xs="12" md="6">
                <MudSelect T="Variant"
                           Label="Variant"
                           Dense="true"
                           @bind-Value="_variant">
                    <MudSelectItem Value="Variant.Text">Text</MudSelectItem>
                    <MudSelectItem Value="Variant.Outlined">Outlined</MudSelectItem>
                    <MudSelectItem Value="Variant.Filled">Filled</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="Color"
                           Label="Color"
                           Dense="true"
                           @bind-Value="_color">
                    <MudSelectItem Value="Color.Default">Default</MudSelectItem>
                    <MudSelectItem Value="Color.Primary">Primary</MudSelectItem>
                    <MudSelectItem Value="Color.Secondary">Secondary</MudSelectItem>
                    <MudSelectItem Value="Color.Tertiary">Tertiary</MudSelectItem>
                    <MudSelectItem Value="Color.Info">Info</MudSelectItem>
                    <MudSelectItem Value="Color.Success">Success</MudSelectItem>
                    <MudSelectItem Value="Color.Warning">Warning</MudSelectItem>
                    <MudSelectItem Value="Color.Error">Error</MudSelectItem>
                    <MudSelectItem Value="Color.Dark">Dark</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="Size"
                           Label="Size"
                           Dense="true"
                           @bind-Value="_size">
                    <MudSelectItem Value="Size.Small">Small</MudSelectItem>
                    <MudSelectItem Value="Size.Medium">Medium</MudSelectItem>
                    <MudSelectItem Value="Size.Large">Large</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="ButtonDemoType"
                           Label="Type"
                           Dense="true"
                           @bind-Value="_type">
                    <MudSelectItem Value="ButtonDemoType.Regular">Regular</MudSelectItem>
                    <MudSelectItem Value="ButtonDemoType.Loading">Loading</MudSelectItem>
                    <MudSelectItem Value="ButtonDemoType.Link">Link</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12">
                <MudTextField Label="Label"
                              @bind-Value="_label" />
            </MudItem>

            @if (_type == ButtonDemoType.Loading)
            {
                <MudItem xs="12">
                    <MudTextField Label="Loading Label"
                                  @bind-Value="_loadingLabel" />
                </MudItem>
            }

            @if (_type == ButtonDemoType.Link)
            {
                <MudItem xs="12">
                    <MudTextField Label="Href"
                                  @bind-Value="_href" />
                </MudItem>
            }

            <MudItem xs="12" md="6">
                <MudSelect T="string"
                           Label="Start Icon"
                           Dense="true"
                           @bind-Value="_startIconSelection">
                    <MudSelectItem Value="@NoIconOption">None</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.Add">Add</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.ArrowBack">Arrow Back</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.Check">Check</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.Menu">Menu</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="string"
                           Label="End Icon"
                           Dense="true"
                           @bind-Value="_endIconSelection">
                    <MudSelectItem Value="@NoIconOption">None</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.ArrowForward">Arrow Forward</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.ChevronRight">Chevron Right</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.OpenInNew">Open In New</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.Send">Send</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12">
                <div class="d-flex flex-wrap align-center justify-start" style="column-gap: 16px; row-gap: 4px;">
                    <MudCheckBox @bind-Value="_disabled" Label="Disabled" Color="Color.Primary" />
                    <MudCheckBox @bind-Value="_fullWidth" Label="Full Width" Color="Color.Primary" />
                    <MudCheckBox @bind-Value="_dropShadow" Label="Drop Shadow" Color="Color.Primary" />
                    <MudCheckBox @bind-Value="_ripple" Label="Ripple" Color="Color.Primary" />
                    @if (_type == ButtonDemoType.Link)
                    {
                        <MudCheckBox @bind-Value="_openInNewTab" Label="Open In New Tab" Color="Color.Primary" />
                    }
                </div>
            </MudItem>
        </MudGrid>
    </Options>
</DemoPageLayout>

@code {
    private const string NoIconOption = "__NONE__";

    private ButtonDemoType _type = ButtonDemoType.Regular;
    private Variant _variant = Variant.Text;
    private Color _color = Color.Default;
    private Size _size = Size.Medium;
    private string _label = "Button";
    private string _loadingLabel = "Processing";
    private string _href = "https://github.com/m1n3g/mudblazor-component-playground";
    private bool _openInNewTab = true;
    private bool _disabled;
    private bool _fullWidth;
    private bool _dropShadow = true;
    private bool _ripple = true;
    private string _startIconSelection = NoIconOption;
    private string _endIconSelection = NoIconOption;
    private int _clickedCount;

    private string? SelectedStartIcon => _startIconSelection == NoIconOption ? null : _startIconSelection;
    private string? SelectedEndIcon => _endIconSelection == NoIconOption ? null : _endIconSelection;

    private void OnButtonClick(MouseEventArgs _)
    {
        if (!_disabled)
            _clickedCount++;
    }

    private enum ButtonDemoType
    {
        Regular,
        Loading,
        Link
    }
}
