@page "/components/toggleiconbutton"
@using MudBlazor

<DemoPageLayout Title="Toggle Icon Button"
                Description="An icon button that toggles between two distinct states, useful for on/off or favorite/unfavorite scenarios."
                Variant="DemoPageLayoutVariant.Vertical">
    <Preview>
        <MudStack Spacing="2" AlignItems="AlignItems.Center" Class="w-100">
            <MudToggleIconButton @bind-Toggled="_toggled"
                                 Icon="@_icon"
                                 ToggledIcon="@_toggledIcon"
                                 Color="@_color"
                                 ToggledColor="@_toggledColor"
                                 Size="@_size"
                                 Variant="@_variant"
                                 ToggledVariant="@_toggledVariant"
                                 Edge="@_edge"
                                 Ripple="@_ripple"
                                 DropShadow="@_dropShadow"
                                 Disabled="@_disabled"
                                 aria-label="@_ariaLabel" />

            <MudText Typo="Typo.caption">
                Toggled: @_toggled
            </MudText>
        </MudStack>
    </Preview>

    <Options>
        <MudGrid Spacing="4" Justify="Justify.Center" Class="w-100">
            <MudItem xs="12" md="6">
                <MudSelect T="string"
                           Label="Icon"
                           Dense="true"
                           @bind-Value="_icon">
                    <MudSelectItem Value="@Icons.Material.Outlined.FavoriteBorder">Favorite Border</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Outlined.VisibilityOff">Visibility Off</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Outlined.BookmarkBorder">Bookmark Border</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Outlined.StarBorder">Star Border</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="Variant"
                           Label="Variant"
                           Dense="true"
                           @bind-Value="_variant">
                    <MudSelectItem Value="Variant.Text">Text</MudSelectItem>
                    <MudSelectItem Value="Variant.Outlined">Outlined</MudSelectItem>
                    <MudSelectItem Value="Variant.Filled">Filled</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="Color"
                           Label="Color"
                           Dense="true"
                           @bind-Value="_color">
                    <MudSelectItem Value="Color.Default">Default</MudSelectItem>
                    <MudSelectItem Value="Color.Primary">Primary</MudSelectItem>
                    <MudSelectItem Value="Color.Secondary">Secondary</MudSelectItem>
                    <MudSelectItem Value="Color.Tertiary">Tertiary</MudSelectItem>
                    <MudSelectItem Value="Color.Info">Info</MudSelectItem>
                    <MudSelectItem Value="Color.Success">Success</MudSelectItem>
                    <MudSelectItem Value="Color.Warning">Warning</MudSelectItem>
                    <MudSelectItem Value="Color.Error">Error</MudSelectItem>
                    <MudSelectItem Value="Color.Dark">Dark</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="Size"
                           Label="Size"
                           Dense="true"
                           @bind-Value="_size">
                    <MudSelectItem Value="Size.Small">Small</MudSelectItem>
                    <MudSelectItem Value="Size.Medium">Medium</MudSelectItem>
                    <MudSelectItem Value="Size.Large">Large</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="string"
                           Label="Toggled Icon"
                           Dense="true"
                           @bind-Value="_toggledIcon">
                    <MudSelectItem Value="@Icons.Material.Filled.Favorite">Favorite</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.Visibility">Visibility</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.Bookmark">Bookmark</MudSelectItem>
                    <MudSelectItem Value="@Icons.Material.Filled.Star">Star</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="Variant?"
                           Label="Toggled Variant"
                           Dense="true"
                           @bind-Value="_toggledVariant">
                    <MudSelectItem Value="@((Variant?)null)">Same as Variant</MudSelectItem>
                    <MudSelectItem Value="@((Variant?)Variant.Text)">Text</MudSelectItem>
                    <MudSelectItem Value="@((Variant?)Variant.Outlined)">Outlined</MudSelectItem>
                    <MudSelectItem Value="@((Variant?)Variant.Filled)">Filled</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="Color?"
                           Label="Toggled Color"
                           Dense="true"
                           @bind-Value="_toggledColor">
                    <MudSelectItem Value="@((Color?)null)">Same as Color</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Default)">Default</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Primary)">Primary</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Secondary)">Secondary</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Tertiary)">Tertiary</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Info)">Info</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Success)">Success</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Warning)">Warning</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Error)">Error</MudSelectItem>
                    <MudSelectItem Value="@((Color?)Color.Dark)">Dark</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudSelect T="Edge"
                           Label="Edge"
                           Dense="true"
                           @bind-Value="_edge">
                    <MudSelectItem Value="Edge.False">None</MudSelectItem>
                    <MudSelectItem Value="Edge.Start">Start</MudSelectItem>
                    <MudSelectItem Value="Edge.End">End</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12">
                <MudTextField Label="Aria Label"
                              @bind-Value="_ariaLabel" />
            </MudItem>

            <MudItem xs="12">
                <div class="d-flex flex-wrap align-center justify-start" style="column-gap: 16px; row-gap: 4px;">
                    <MudCheckBox @bind-Value="_toggled" Label="Toggled" Color="Color.Primary" />
                    <MudCheckBox @bind-Value="_disabled" Label="Disabled" Color="Color.Primary" />
                    <MudCheckBox @bind-Value="_ripple" Label="Ripple" Color="Color.Primary" />
                    <MudCheckBox @bind-Value="_dropShadow" Label="Drop Shadow" Color="Color.Primary" />
                </div>
            </MudItem>
        </MudGrid>
    </Options>
</DemoPageLayout>

@code {
    private string _icon = Icons.Material.Outlined.FavoriteBorder;
    private string _toggledIcon = Icons.Material.Filled.Favorite;
    private Color _color = Color.Default;
    private Color? _toggledColor;
    private Size _size = Size.Medium;
    private Variant _variant = Variant.Text;
    private Variant? _toggledVariant;
    private Edge _edge = Edge.False;
    private string _ariaLabel = "favorite";
    private bool _toggled;
    private bool _disabled;
    private bool _ripple = true;
    private bool _dropShadow = true;
}
